<div class="wrapper_col" id="wrapper_left_col">
	<div class="wrapper_col_inner inner_content">
		<a href="<%= url_for controller: :splash, action: :index %>" id="wrapper_logo">
			<%= image_tag 'app/logos/splash.png', width: 300, height: 70 %>
		</a>
		<div id="wrapper_info">
			<% _t('app.wrapper.left.content').each do |el| %>
				<p><%= el.html_safe %></p>
			<% end %>
		</div>
		<div id="wrapper_buttons">
			<a href="<%= url_for Settings.get('elements.km2') %>" class="wrapper_button blue" target="_blank">
				<%= image_tag 'app/icons/buttons/splash/km2.png', width: 60, height: 60 %>
			</a>
			<a href="<%= url_for Settings.get('elements.loopa') %>" class="wrapper_button green" target="_blank">
				<%= image_tag 'app/icons/buttons/splash/loopa.png', width: 60, height: 60 %>
			</a>
			<a href="<%= url_for Settings.get('elements.compass') %>" class="wrapper_button blue_green" target="_blank">
				<%= image_tag 'app/icons/buttons/splash/compass.png', width: 60, height: 60 %>
			</a>
			<div class="clear"></div>
		</div>
	</div>
</div>
