<div class="fmx_slider" id="home_slider">
	<div class="fmx_slider_loader home_slider_loader" data-width="160" data-src="<%= image_url 'shared/loaders/loader20x20.png' %>"></div>
	<div id="home_slider_inner_wrapper">
		<div class="fmx_slider_navigation home_slider_navigation prev">
			<%= image_tag 'app/slider/navigation/prev.png', width: 23, height: 86 %>
		</div>
		<div class="fmx_slider_navigation home_slider_navigation next">
			<%= image_tag 'app/slider/navigation/next.png', width: 23, height: 86 %>
		</div>
	</div>
	<%= render partial: 'home/slider/slides/km2' %>
	<%= render partial: 'home/slider/slides/loopa' %>
</div>